.main{
    display: flex;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 30px;
    margin-left: 30PX;
    margin-right: 30PX;
}
.main .first{
    flex-direction: column;
    justify-content: center;
    border-radius: 2px;
    border-style: double;
    box-shadow: 6px 6px 6px white;
    width: 500px;
    height: 60vh;
    
}
.main .second{
    flex-direction: column;
    justify-content: center;
    border-radius: 2px;
    box-shadow: 6px 6px 6px white;
    border-style: double;
   
    width: 500px;
}
.main .third{
    flex-direction: column;
    justify-content: center;
    border-style: double;
    
    width: 500px;
    border-radius: 2px;
    box-shadow: 6px 6px 6px white;
}
.main .fourth{
    flex-direction: column;
    justify-content: center;
    border-radius: 2px;
    box-shadow: 6px 6px 6px white;
    border-style: double;
    
    width: 500px;
}
.container .main .first .h3{
    text-align: center;
    justify-content: center;
}
.code{
    background: white;
    text-align: center;
    justify-content: center;
    margin-left: 220px;
    margin-right: 220px;
    margin-top: 20px;
    border-radius: 20px;
    bottom: 0%;
}